:focus {outline:none;}
.tab_dialog .ant-btn{
    width: 120px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #E5E5E5;
    border-radius: 0px;
//  color: @main-color;
}
.tab_dialog .ant-btn-primary{
//  background-color: @main-color;
    color: #fff;
    width: 120px;
    height: 35px;
    line-height: 35px;
//  border: 1px solid @main-color;
    border-radius: 0px;
    color: #fff;
    margin-left: 30px;
}
.tab_dialog .ant-modal-footer{
    text-align: center;
    border-top: none;
}
.font_link{
//  color: @main-color !important;
}
.font_link:hover{
//  color: @main-color !important;
    text-decoration: underline;
}
.empty_text{
    font-size: 16px;
    color: #6D6D6D;
}
.tab_inner .ant-table-placeholder{
    height: 400px;
    border-bottom: none;
}
.block_canApply{
    display: none;
    width: 200px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    color: #6D6D6D;
    border: 1px solid #DDD;
    position: absolute;
    margin-left: 20px;
    margin-top: -10px;
    border-radius: 5px;
}
.tab_inner .ant-table-tbody > tr:hover{
    .block_canApply{
        display: inline-block;
    }
}
.menu_drop-frame{
    text-align: right;
}
.tab_form .ant-row{
    margin-bottom: 20px;
}
.tab_form .ant-input{
    width: 260px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #E5E5E5;
    cursor: auto;
}
.tab_form .ant-form-item-label{
    width: 128px;
    color: #757575;
    line-height: 20px;
    padding-right: 5px;
    cursor: pointer;
    label{
        display: inline-block;
        width: 128px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: pointer;
        line-height: 35px;
    }
    
}
.last_form-textarea .ant-form-item-label{
    vertical-align: top;
}
.tab_form .upload_file{
    background-color: #8D8D8D;
    color: #fff;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 0px;
    padding: 0;
}
.tab_form textarea{
    border: 1px solid #E5E5E5;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.block_btn-footer{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.block_btn-footer button{
    width: 170px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 0px;
}
.form_button-submit{
//  background-color: @main-color;
    color: #fff;
//  border: 1px solid @main-color;
    margin-left: 40px;
    box-shadow: 0 2px 8px rgba(24,186,226, 0.2);
}
.form_button-cancel{
    background-color: #fff;
//  color: @main-color;
    border: 1px solid #E5E5E5;
    box-shadow: 0 2px 8px rgba(229,229,229, 0.2);
}
.tab_form .ant-radio-checked .ant-radio-inner{
//  border-color: @main-color;
}
.tab_form .ant-radio-inner:after{
//  background-color: @main-color;
    width: 12px;
    height: 12px;
    left: 1px;
    top: 1px;
    border-radius: 12px;
}
.tab_form .ant-form-extra{
    padding-top: 20px;
    color: #EF6C6C;
}
.tab_form .ant-upload-list{
    display: inline-block;
}
.textAlign-center{
    text-align: center;
}
.resolve-success{
    display: inline-block;
    background-color: #E0F7F3;
    padding: 5px 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.resolve-fail{
    display: inline-block;
    background-color: #FCE2E2;
    padding: 5px 10px;
    box-sizing: border-box;
    margin-right: 10px;
}
.resolve-not{
    display: inline-block;
    background-color: #F7F7F7;
    padding: 5px 10px;
    box-sizing: border-box;
}
.upload_text{
    font-size: 12px;
    color: #757575;
}
.upload_btn{
    background-color: #8D8D8D;
    color: #fff;
    width: 130px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 0px;
    margin: 20px auto;
}
.upload_btn span{
    vertical-align: middle;
    margin-left: 10px;
}
.tab_inner .ant-upload.ant-upload-drag{
    width: 820px;
    height: 220px;
    margin: 0 auto;
}
.block_hasApply{
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    background-color: #fff;
    font-size: 12px;
    border: 1px solid #E9E9E9;
    margin-left: 10px;
}
.has{
// color: @main-color; 
}
.hasnot{
   color: #8D8D8D; 
}
.block_file-frame{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.block_file-frame .btn_chooseFile{
    width: 85px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    color: #fff;
    background-color: #8D8D8D;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}
.block_file-frame .choosen{
    margin-right: 15px;
    vertical-align: middle;
}
.block_file-frame .anticon{
    font-size: 18px;
    vertical-align: middle;
}
.block_file-frame .anticon-check-circle{
//  color: @main-color;
    vertical-align: middle;
    margin-right: 30px;
}
.block_file-frame .btn_more{
    vertical-align: middle;
    cursor: pointer;
}
.block_file-frame .btn_more span{
    vertical-align: middle;
    margin-left: 5px;
}
.block_file-frame .ant-divider{
    vertical-align: middle;
    height: 20px;
}
.text-red{
    color: #ED3F3F;
    margin-top: 10px;
}
.logo-empty{
    width: 145px;
    height: 122px;
    margin: 100px auto 30px auto;
    background-image: url("../../images/imgs/table-no-data.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.block_item{
    width: 490px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}
.ant-checkbox-group{
    width: 400px;
    vertical-align: top;
}
.text_large{
    width: 738px;
    height: 80px;
    vertical-align: top;
    resize: none;
}
.afterTable{
    .ant-table-pagination{
        display: none;
    }
}
.finish_block{
    background-color: #fff;
}
.form_button-submit:hover{
    color: #fff !important;
}
.logo-fail{
    width: 145px;
    height: 122px;
    margin: 100px auto 30px auto;
    background-image: url("../../images/imgs/upload-fail.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.quick_block{
    .ant-input{
        width: 248px;
    }
}
