<!--
 * @Author: luo0412
 * @Date: 2017-03-26 17:14:25
 * @Last Modified by:   luo0412
 * @Last Modified time: 2017-03-26 17:14:25
-->

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>React 基本组件</title>
  <script src="https://cdn.bootcss.com/react/15.4.2/react.min.js"></script>
  <script src="https://cdn.bootcss.com/react/15.4.2/react-dom.min.js"></script>
  <script src="https://cdn.bootcss.com/babel-standalone/6.22.1/babel.min.js"></script>
</head>

<body>
  <div id="example"></div>
  <script type="text/babel">
    // 创建组件
    // 首字母大写
    var HelloMessage = React.createClass({
      // 设置默认值
      getDefaultProps: function() {
        return { name: 'A' };
      },

      render: function() {
        return (<h1>Hello {this.props.name}</h1>);
      }
    });

    ReactDOM.render(
      <HelloMessage name="B" />,
      document.getElementById('example')
    );
  </script>
</body>

</html>