.truck {
    position: relative;
    background-color: #fff;
    margin-bottom: 10px;
    font-size: 12px;
    &::after {
        position: absolute;
        right: 0;
        left: 0;
        height: 1px;
        content: '';
        transform: scaleY(.5);
        background-color: #ddd;
    }
    .baseInfo {
        display: block;
        padding: 10px 50px 10px 85px;
        position: relative;
        min-height: 90px;
        text-decoration: none;
        .ls {
            position: absolute;
            left: 10px;
            top: 10px;
            width: 70px;
            img {
                border-radius: 4px;
            }
        }
        .text {
            color: #999;
            .driver,.truckInfo,.local {
                height: 24px;
                line-height: 24px;
                padding-left: 18px;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 3px;
                    width: 14px;
                    height: 14px;
                }
            }
            .driver {
                font-size: 14px;
                font-weight: bold;
                &:before {
                    background: url('../../../../assets/icons/driver.svg') no-repeat center;
                    background-size: contain;
                    font-size: 14px;
                }
            }
            .truckInfo {
                color: #6cc;
                &:before {
                    background: url('../../../../assets/icons/truckDesc_icon.svg') no-repeat center;
                    background-size: contain;
                }
            }
            .local {
                &:before {
                    background: url('../../../../assets/icons/local_icon.svg') no-repeat center;
                    background-size: contain;
                }
            }
        }
    }
    .tel {
        position: absolute;
        right: 15px;
        top: 50%;
        width: 40px;
        height: 40px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        img {
            width: 40px;
            height: 40px;
        }
    }
}